{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="body">
    <div class="container">
        <div class="row">
            <div class="section col-sm-6" >
            <div class="vHead">
                Présidents
            </div>
            <div class="staffs">
                <div class="profil">
                    <img src="{% static 'img/profil.jpg' %}">

                    <h2 class="pseudo">Titancki</h2>
                    <hr/>
                    <p>Une description qui déboite!!!!!</p>
                    <hr/>
                    <div class="networks text-center">
                        <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                        <a href="http://discord.com"><i class="fab fa-discord"></i></a>
                        <a href="http://twitch.tv"><i class="fab fa-twitch"></i></a>
                        <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
                        <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                        <a href="http://facebook.com"><i class="fab fa-facebook"></i></a>
                    </div>
                </div>

                <div class="profil">
                    <img src="{% static 'img/profil.jpg' %}">

                    <h2 class="pseudo">Titancki</h2>
                    <hr/>
                    <p>Une description qui déboite!!!!!</p>
                    <hr/>
                    <div class="networks text-center">
                        <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                        <a href="http://discord.com"><i class="fab fa-discord"></i></a>
                        <a href="http://twitch.tv"><i class="fab fa-twitch"></i></a>
                        <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
                        <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                        <a href="http://facebook.com"><i class="fab fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>

            <div class="section col-sm-6">
                <div class="vHead">
                    Community manager
                </div>
                <div class="staffs">
                    <div class="profil">
                        <img src="{% static 'img/profil.jpg' %}">

                        <h2 class="pseudo">Titancki</h2>
                        <hr/>
                        <p>Une description qui déboite!!!!!</p>
                        <hr/>
                        <div class="networks text-center">
                            <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="http://discord.com"><i class="fab fa-discord"></i></a>
                            <a href="http://twitch.tv"><i class="fab fa-twitch"></i></a>
                            <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
                            <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                            <a href="http://facebook.com"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>

                    <div class="profil">
                        <img src="{% static 'img/profil.jpg' %}">

                        <h2 class="pseudo">Titancki</h2>
                        <hr/>
                        <p>Une description qui déboite!!!!!</p>
                        <hr/>
                        <div class="networks text-center">
                            <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="http://discord.com"><i class="fab fa-discord"></i></a>
                            <a href="http://twitch.tv"><i class="fab fa-twitch"></i></a>
                            <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
                            <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                            <a href="http://facebook.com"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section col-sm-6">
                <div class="vHead">
                    Coach
                </div>
                <div class="staffs">
                    <div class="profil">
                        <img src="{% static 'img/profil.jpg' %}">

                        <h2 class="pseudo">Titancki</h2>
                        <hr/>
                        <p>Une description qui déboite!!!!!</p>
                        <hr/>
                        <div class="networks text-center">
                            <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="http://discord.com"><i class="fab fa-discord"></i></a>
                            <a href="http://twitch.tv"><i class="fab fa-twitch"></i></a>
                            <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
                            <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                            <a href="http://facebook.com"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>

                    <div class="profil">
                        <img src="{% static 'img/profil.jpg' %}">

                        <h2 class="pseudo">Titancki</h2>
                        <hr/>
                        <p>Une description qui déboite!!!!!</p>
                        <hr/>
                        <div class="networks text-center">
                            <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="http://discord.com"><i class="fab fa-discord"></i></a>
                            <a href="http://twitch.tv"><i class="fab fa-twitch"></i></a>
                            <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
                            <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                            <a href="http://facebook.com"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>

                    <div class="profil">
                        <img src="{% static 'img/profil.jpg' %}">

                        <h2 class="pseudo">Titancki</h2>
                        <hr/>
                        <p>Une description qui déboite!!!!!</p>
                        <hr/>
                        <div class="networks text-center">
                            <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="http://discord.com"><i class="fab fa-discord"></i></a>
                            <a href="http://twitch.tv"><i class="fab fa-twitch"></i></a>
                            <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
                            <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                            <a href="http://facebook.com"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>

                    <div class="profil">
                        <img src="{% static 'img/profil.jpg' %}">

                        <h2 class="pseudo">Titancki</h2>
                        <hr/>
                        <p>Une description qui déboite!!!!!</p>
                        <hr/>
                        <div class="networks text-center">
                            <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="http://discord.com"><i class="fab fa-discord"></i></a>
                            <a href="http://twitch.tv"><i class="fab fa-twitch"></i></a>
                            <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
                            <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                            <a href="http://facebook.com"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>


                </div>
            </div>

            <div class="section col-sm-6">
                <div class="vHead">
                    Manager
                </div>
                <div class="staffs">
                    <div class="profil">
                        <img src="{% static 'img/profil.jpg' %}">

                        <h2 class="pseudo">Titancki</h2>
                        <hr/>
                        <p>Une description qui déboite!!!!!</p>
                        <hr/>
                        <div class="networks text-center">
                            <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="http://discord.com"><i class="fab fa-discord"></i></a>
                            <a href="http://twitch.tv"><i class="fab fa-twitch"></i></a>
                            <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
                            <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                            <a href="http://facebook.com"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>

                    <div class="profil">
                        <img src="{% static 'img/profil.jpg' %}">

                        <h2 class="pseudo">Titancki</h2>
                        <hr/>
                        <p>Une description qui déboite!!!!!</p>
                        <hr/>
                        <div class="networks text-center">
                            <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="http://discord.com"><i class="fab fa-discord"></i></a>
                            <a href="http://twitch.tv"><i class="fab fa-twitch"></i></a>
                            <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
                            <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                            <a href="http://facebook.com"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>

                    <div class="profil">
                        <img src="{% static 'img/profil.jpg' %}">

                        <h2 class="pseudo">Titancki</h2>
                        <hr/>
                        <p>Une description qui déboite!!!!!</p>
                        <hr/>
                        <div class="networks text-center">
                            <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="http://discord.com"><i class="fab fa-discord"></i></a>
                            <a href="http://twitch.tv"><i class="fab fa-twitch"></i></a>
                            <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
                            <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                            <a href="http://facebook.com"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>

                    <div class="profil">
                        <img src="{% static 'img/profil.jpg' %}">

                        <h2 class="pseudo">Titancki</h2>
                        <hr/>
                        <p>Une description qui déboite!!!!!</p>
                        <hr/>
                        <div class="networks text-center">
                            <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="http://discord.com"><i class="fab fa-discord"></i></a>
                            <a href="http://twitch.tv"><i class="fab fa-twitch"></i></a>
                            <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
                            <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                            <a href="http://facebook.com"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>

                    <div class="profil">
                        <img src="{% static 'img/profil.jpg' %}">

                        <h2 class="pseudo">Titancki</h2>
                        <hr/>
                        <p>Une description qui déboite!!!!!</p>
                        <hr/>
                        <div class="networks text-center">
                            <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="http://discord.com"><i class="fab fa-discord"></i></a>
                            <a href="http://twitch.tv"><i class="fab fa-twitch"></i></a>
                            <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
                            <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                            <a href="http://facebook.com"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}